*{margin:0;padding:0;box-sizing:border-box}

body{
    font-family:'Segoe UI', sans-serif;
    background:linear-gradient(135deg,#e0f2fe,#ffffff);
}

/* CENTER */
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

/* CARD */
.card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    text-align:center;
}

/* TIME */
#time{
    margin:20px 0;
    font-size:40px;
    color:#1e293b;
}

/* BUTTONS */
.buttons{
    display:flex;
    gap:10px;
    justify-content:center;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:6px;
    background:#3b82f6;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#2563eb;
}